.bg-hero {
    background: linear-gradient(rgba(9, 30, 62, .66), rgba(9, 30, 62, .66)), url(../../images/hero.png) center center no-repeat;
    background-size: cover;
   
    display: flex;
    align-items: center;
}

.bg-signup{
    background: url(../../images/bgLogin.png) center center no-repeat;
}

.bg-reservation{
    background: url(../../images/GD.png) center center no-repeat;
}

/* .bg-reservation {
    background: linear-gradient(rgba(9, 30, 62, .66), rgba(9, 30, 62, .66)), url(../../images/hero.png) center center no-repeat;
    background-size: cover;
   
    display: flex;
    align-items: center;
} */
